@model TheFilm.club.ViewModels.BasketViewModel

@{
    ViewData["Title"] = "BasketSummary";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Your Basket summary</h2>
        </div>
        <table class="table">
           <thead>
           <tr>
           <th>Amount</th>
           <th>Film</th>
           <th>Price</th>
           <th>Subtotal</th>
            <th></th>
          </tr>
           </thead>
           <tbody>
                @foreach(var item in Model.Basket.BasketItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Film.Name</td>
                        <td class="align-middle">@item.Film.Price.ToString("c")</td>@* "C" STANDS FOR CURRENCY*@
                        <td class="align-middle">@((item.Amount*item.Film.Price).ToString("c"))</td>
                        <td class="align-middle"></td>
                            <a class="text-danger" asp-controller="CustomerOrders" asp-action="RemoveItemFromBasket"
                            asp-route-itemid="@item.Film.Id">
                            <i class="bi bi-cart-dash"></i>
                        </a>
                        |
                         <a class="text-success" asp-controller="CustomerOrders" asp-action="AddItemToBasket"
                            asp-route-itemid="@item.Film.Id">
                            <i class="bi bi-cart-plus"></i>
                        </a>
                    </tr>
                }
            </tbody>
           <tfoot>
               <tr>
                   <td colspan="2"></td>
                   <td><b>Total:</b></td>
                   <td>
                       @Model.BasketTotal.ToString("c")
                   </td>
                   <td></td>
               </tr>
           </tfoot>
        </table>
        <div class="text-center">
            <a class="btn btn-outline-success" asp-controller="Films" asp-action="Index">
                 Add more items
            </a>
        </div>
    </div>
</div>